{{ $pen_id := .Get "id" }}

<p class="codepen" data-height="513" data-theme-id="light" data-default-tab="result" data-user="QuentinAndre" data-slug-hash="{{$pen_id}}" style="height: 513px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="XWXxeVB">
  <span>See the Pen <a href="https://codepen.io/QuentinAndre/pen/{{$pen_id}}">
  {{$pen_id}}</a> by Quentin Andre (<a href="https://codepen.io/QuentinAndre">@QuentinAndre</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
